.pull-direito{

	margin-left: 92%;

}

.pull-direitoo{

	margin-left: 86%;

}



.center{
	margin-top: 2%;
	margin-left: 45%;
	color: green;
}

.container{

	margin-left: -1%;
}

.saldo{
	margin-bottom: -4%;

}

