<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tela - Login</title>

     <!-- Custom fonts for this template-->
    <link th:href="@{/bootAdd/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sas-admin-2.min.css}" rel="stylesheet">
    <style type="text/css">
        
        .bdy{
            background-color: #ECEDEE;
        }

        
         .card {
            background-color: #ef9c28;
         }   
    
    </style>

</head>

<body class="bdy">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row d-flex justify-content-center">
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                     <div class="text-center">
                                        <h1 class="h1 text-gray-900 mb-4">SIGE-CAB</h1>
                                        <p class="text-gray-900 mb-4">Seja Bem-Vindo.</p>
                                        
                                    </div>
                                    <div th:replace="fragments/alert"></div>
                                    
                                    <form class="user" method="post" th:action="@{/login}"  >
                                    
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                 name="username"  placeholder="Codigo do Estudante"  >
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                 placeholder="Senha" name="password" >
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Lembrar - me</label>
                                            </div>
                                        </div>

                                    <div class="form-group">
                                    <button class="btn btn-primary btn-user btn-block" type="submit" style="font-size: 18px">Entrar</button>
                                    
                                        </div>
                                    </form>
                                    <hr>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

   
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/bootAdd/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootAdd/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/bootAdd/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sas-admin-2.min.js}"></script>

</body>

</html>